{% extends 'chat/chat.html' %}
{% block contacts %}
<div class="hexagonChat__sidebar">
  <div class="hexagonChat__navbar">
    <span
      class="hexagonChat__logo"
      onclick="location.href='{% url 'staff:slist' %}'"
      >Staff</span
    >
  </div>
  <div class="hexagonChat__search">
    <div class="hexagonChat__searchForm">
      <div class="hexagonChat__searchForm_input"></div>
    </div>
  </div>
  <div class="hexagonChat__chats">
    {% for user in users %}
    <div
      class="hexagonChat__userChat"
      onclick="location.href='{% url 'staff:sprofile' user.pk %}'"
    >
      <img
        class="hexagonChat__userChat_img"
        src="{{ user.staff.profile.image.url }}"
        alt=""
      />
      <div class="hexagonChat__userChatInfo">
        <span class="hexagonChat__userChatInfo_span"
          >{{ user.staff.first_name }}
          {{ user.staff.last_name }}
          {% if user.staff.is_superuser %}
          <i class="uil uil-polygon"></i>
          {% elif user.staff.is_staff %}
          <i class="uil uil-wrench"></i>
          {% elif user.staff.profile.business %}
          <i class="uil uil-check-circle"></i>
          {% endif %}
        </span>
        <p class="hexagonChat__userChatInfo_p">
          Strikes: {{ user.staff.profile.strikes }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
