{% extends 'app/layout.html' %}
{% load humanize %}
{% load urlize_target_blank %}
{% block content %}
<h2 class="section__title">Social</h2>
<span class="section__subtitle">Reported</span>
{% for repost in posts %}
{% if not repost.post.is_delete %}
<div class="project__bg">
  <div class="project__container container grid">
    <div class="project__data">
      <a class="button button--flex button--white">
        <img
          class="testimonial__img"
          src="{{ repost.post.user.profile.image.url }}"
          alt=""
        />
        <div class="button__icon">
          @{{ repost.post.user.username }}
          {% if post.user.is_superuser %}
          <i class="uil uil-polygon"></i>
          {% elif post.user.is_staff %}
          <i class="uil uil-wrench"></i>
          {% elif post.user.profile.business %}
          <i class="uil uil-check-circle"></i>
          {% endif %}
        </div>
      </a>
    </div>
    <time data-time="#" class="project__description">
      <i class="uil uil-clock"></i>
      {{ repost.post.timestamp|naturaltime }}
    </time>
    <p class="project__description">
      {{ repost.post.content|urlize_target_blank }}
      <br />
      {% if repost.post.image %}
      <img src="{{ repost.post.image.url }}" alt="" class="project__img" />
      {% endif %}
      <br />
      <a class="button button--flex button--white" style="font-size: 1.25rem">
        {{ repost.post.likes.all.count }}
        {% if request.user in repost.post.likes.all %}
        <i class="uil uil-heart-break button__icon"></i>
        {% else %}
        <i class="uil uil-heart-alt button__icon"></i>
        {% endif %}
      </a>
      <a class="button button--flex button--white" style="font-size: 1.25rem">
        <i class="uil uil-comments button__icon"></i>
      </a>
      <br />
      <br />
      {% if repost.post.topics.all %}
      Topics:
      {% for Topic in repost.post.topics.all %}
      <a class="button button--flex button--white"> #{{ Topic.name }} </a>
      {% endfor %}
      {% endif %}
      <br />
      <br />
      Reports: {{ repost.reported_by.count }}
      <br />
      <a
        href="{% url 'staff:psave' repost.pk %}"
        class="button button--flex button--white"
        style="font-size: 1.25rem"
      >
        <i class="uil uil-save button__icon"></i>
      </a>
      <a
        href="{% url 'staff:pdelete' repost.pk %}"
        class="button button--flex button--white"
        style="font-size: 1.25rem"
      >
        <i class="uil uil-trash-alt button__icon"></i>
      </a>
    </p>
  </div>
</div>
<br />
{% endif %}
{% endfor %}
{% endblock %}
