input,
textarea {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

input[type="file"] {
  display: none;
}

.hexagon__input_file {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
